@import 'assets/scss/variables.scss';

.dropdown {
  font-size: 16px !important;
  cursor: pointer;

  &:hover {
    .icon {
      transform: rotateX(180deg);
    }
  }
}

.icon {
  width: 20px;
  display: flex;
  align-items: center;
  transition: 0.7s;
}

.disabled * {
  color: $darkGray !important;
  cursor: auto;
}
