// ZonaPro
@font-face {
  font-family: 'ZonaPro';
  src: url('../fonts/ZonaPro/ZonaPro.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ZonaPro';
  src: url('../fonts/ZonaPro/ZonaPro-SemiBold.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ZonaPro';
  src: url('../fonts/ZonaPro/ZonaPro-Bold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ZonaPro';
  src: url('../fonts/ZonaPro/ZonaPro-ExtraBold.otf');
  font-weight: 700;
  font-style: normal;
}

// Nummernschild
@font-face {
  font-family: 'Nummernschild';
  src: url('../fonts/Nummernschild/GL-Nummernschild-Mtl.ttf');
  font-weight: 600;
  font-style: normal;
}
