@import 'assets/scss/variables.scss';

//************************************ Form Item styles *************************
.ant-form-item {
  @media (max-width: $sm) {
    margin-bottom: 1rem;
  }
}

.ant-form-item-label {
  padding: 0 !important;

  label {
    color: $dark !important;
    font-weight: 500;
    margin-bottom: 4px !important;
  }
}

.ant-form-item-required {
  &::before {
    display: none !important;
  }
}

//************************************ Input styles *************************
.ant-input,
.ant-input-affix-wrapper {
  font-size: 16px !important;
  border-radius: 10px !important;
}

.ant-input-password {
  input {
    border: none !important;
  }
}

.ant-input-group-addon {
  border: none !important;
}

//************************************ Checkbox styles *************************

.ant-checkbox + span {
  white-space: nowrap;
  font-weight: 500;
  color: $dark;
}
