$dark: #141414;
$blue: #5754ff;
$green: #46bea3;
$white: #ffff;

$lightGray: rgb(252, 252, 253);
$gray: #fafafa;
$darkGray: #aaa;
$red: #ff4f37;

$shadow: 0 0px 50px 0 rgb(0 0 0 / 4%);
$shadowToDown: 0 5px 15px 0 rgb(0 0 0 / 4%);
$shadowToDownDark: 0 5px 15px 0 rgb(0 0 0 / 4%);
$transition: 0.3s;
$radiusSm: 7px;
$radius: 20px;
$radiusFull: 50%;

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
