$dark: #141414;
$blue: #5754ff;
$green: #46bea3;
$white: #ffff;
$yellow: #ffcc00;
$darkGray: #aaa;
$red: #ff4f37;
$gray: #fafafa;

// $darkShadowToDown: 0 25px 50px -5px rgb(0 0 0 / 8%);
$darkShadowToDown: 0 25px 30px -5px rgb(0 0 0 / 4%);
$shadowToDown: 0 25px 50px -10px rgb(0 0 0 / 4%);
$transition: 0.3s;
$radiusSm: 7px;
$radius: 20px;
$radiusFull: 50%;

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
