@import 'assets/scss/variables.scss';

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $sm) {
    top: 60%;
    transform: translate(-50%, -60%);
  }

  @media (max-width: $xs) {
    top: 70%;
    transform: translate(-50%, -70%);
  }
}
