@import 'assets/scss/variables.scss';

.ant-breadcrumb-overlay-link {
  cursor: pointer;
}

.ant-breadcrumb-link {
  font-weight: 500;

  a span {
    color: $blue;
  }

  span {
    color: #505050;
  }
}

.ant-breadcrumb-separator {
  display: flex;
  align-items: center;
  color: rgba($darkGray, 0.3) !important;
  user-select: none !important;
}
.ant-breadcrumb-overlay-link:hover {
  background-color: transparent !important;
}
.ant-breadcrumb-overlay-link {
  svg {
    transition: 0.7s;
  }
  &:hover {
    svg {
      transform: rotateX(180deg);
    }
  }
}
