@import 'assets/scss/variables.scss';

.ant-breadcrumb-overlay-link {
  cursor: pointer;
  margin: 0 36px 0 0 !important;
}

.ant-breadcrumb-link {
  font-weight: 500;
  margin: 0 18px;

  @media (max-width: $sm) {
    font-size: 14px !important;
    padding: 0 5px;
  }
}
