@import 'assets/scss/variables.scss';

.selectBox {
  position: relative;

  .ant-select {
    .ant-select-selection-item {
      display: flex !important;
      align-items: center;
    }

    &.full-width {
      width: 100% !important;
    }

    &.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
    &.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
      min-height: 50px;
      border-radius: 8px;
      padding: 0 16px;
      display: flex;
      align-items: center;
    }

    &.ant-select-single .ant-select-selector .ant-select-selection-item,
    &.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      //line-height: 40px;
      color: #000000;
    }
  }

  .ant-select-multiple .ant-select-selector {
    height: 50px !important;
    width: 100% !important;
  }

  .ant-select-disabled:where(.css-dev-only-do-not-override-16aepep).ant-select:not(:where(.css-dev-only-do-not-override-16aepep).ant-select-customize-input) .ant-select-selector {
    background-color: white !important;
    opacity: 0.4;
    cursor: not-allowed;
  }

  .multipleSelectIcon {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    // background-color: white;
    padding-right: 10px;
    border-radius: 8px;
    @media (max-width: $sm) {
      padding: 0 3px;
    }
  }

  .ant-select-selector:after {
    content: 'asd' !important;
    display: none !important;
  }
}

.ant-select-dropdown {
  min-width: 120px !important;
}

.ant-select-clear {
  width: 17px !important;
  height: 17px !important;
  font-size: 20px !important;
  top: 40% !important;
  right: 15px !important;
}
