@import 'assets/scss/variables.scss';

.ant-modal {
  top: 5% !important;

  .ant-modal-content {
    border-radius: 16px !important;

    button {
      margin-top: 10px;
    }
  }

  .ant-modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .ant-modal-title {
    font-size: 24px;
  }

  .ant-modal-body {
    max-height: 75vh;
    overflow-y: auto !important;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}
