@import 'assets/scss/variables.scss';

.map {
  border-radius: $radius;
  border: 1px solid #f1f1f1;
  overflow: hidden;
  filter: grayscale(1);
  height: calc(100vh - 124px);

  &.isNotMap {
    margin-top: 20px;
    margin-right: 20px;
  }
}
