@import 'assets/scss/variables.scss';

.formWrapper {
  margin-top: 16px;
}
.hookList {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 50vh;

  .devider {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    margin: 16px 0;
  }
  &__item {
    width: 97%;
    margin: 10px auto !important;
    height: 65px;
    padding: 5px;
    border-radius: $radius;
    box-shadow: $shadowToDown;
    display: flex;
    justify-content: center !important;
  }
}
