@import 'assets/scss/variables.scss';

.titleWrapper {
  h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    color: gray;
    margin-bottom: 10px;
  }
}

.btnBox {
  padding: 0 6px 6px;
  margin-top: 14px;
  .cancelBtn {
    color: $dark !important;
  }
}

.priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 90%;
  top: 50%;
  transform: translateY(-50%);
  color: $dark !important;

  .count {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2px;

    .duration {
      min-width: 20px;
    }
  }

  .countPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }

  .duration,
  .price {
    font-weight: 500;
    font-size: 16px;
  }
}

.price {
  * {
    font-size: 18px;
    font-weight: 500;
  }
  &__current {
    font-size: 15px;
    color: $darkGray;
    font-weight: normal;
    text-decoration: line-through;
  }
}

.totalBox {
  border-radius: $radiusSm;
  background-color: $gray;
  padding: 15px;

  .title {
    font-size: 18px;
    font-weight: 500;
  }
}
