@import 'assets/scss/variables.scss';

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: $radius;
  box-shadow: $darkShadowToDown;
  position: relative;

  .moreBox {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0 10px;
    border-radius: $radiusSm !important;

    .img {
      height: 170px;
      border-radius: $radiusSm !important;
      object-fit: cover;
      @media (min-width: $lg) {
        height: 140px;
      }

      @media (min-width: $xl) {
        height: 170px;
      }
    }
  }

  .iconBox {
    padding: 10px 10px 0 10px;
    height: 170px;
    display: flex;
    align-items: center;

    @media (min-width: $lg) {
      height: 140px;
    }

    @media (min-width: $xl) {
      height: 170px;
    }

    svg {
      height: 100% !important;
    }
  }

  h3 {
    margin-top: 12px;
    color: $dark;
  }

  &Footer {
    padding: 16px 20px;

    .resolutionText {
      div {
        font-weight: 500;

        &:last-child {
          color: $darkGray;
          margin-left: 3px;
        }
      }
    }

    .description {
      color: $darkGray;
      width: 100% !important;
    }

    h3 {
      margin: 0 !important;
    }
  }
}

.warning {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &Text {
    text-align: center;
    padding: 0 8px;
    font-size: 20px;
    margin-top: -16px;
    color: $darkGray;
  }
}
